<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="./index.html" class="header-logo-link">
        <svg class="header-icon-logo" width="16" height="16">
          <use href="./img/icons.svg#icon-logo"></use>
        </svg>
        Green.harvest
      </a>
      <button type="button" class="header-menu-open-btn">
        <svg class="header-icon-open-menu" width="32" height="32">
          <use href="./img/icons.svg#icon-burger"></use>
        </svg>
      </button>
      <div class="header-desktop">
        <nav class="header-desktop-nav">
          <ul class="header-desktop-nav-list">
            <li class="header-desktop-nav-item">
              <a class="header-desktop-nav-link" href="#works">
                How It Works
              </a>
            </li>
            <li class="header-desktop-nav-item">
              <a class="header-desktop-nav-link" href="#vegetables">
                Vegetables
              </a>
            </li>
            <li class="header-desktop-nav-item">
              <a class="header-desktop-nav-link" href="#reviews"> Reviews </a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header-desktop-shop-btn">Shop now</button>
      </div>
    </div>

    <!-- mobile-menu -->

    <div class="backdrop">
      <div class="header-mobile-menu">
        <button type="button" class="header-menu-close-btn">
          <svg class="header-icon-close-menu" width="32" height="32">
            <use href="./img/icons.svg#icon-close"></use>
          </svg>
        </button>
        <nav class="header-mobile-menu-nav">
          <ul class="header-mobile-menu-list">
            <li class="header-mobile-menu-item">
              <a class="header-mobile-menu-link" href="#works">
                How It Works
              </a>
            </li>
            <li class="header-mobile-menu-item">
              <a class="header-mobile-menu-link" href="#vegetables">
                Vegetables
              </a>
            </li>
            <li class="header-mobile-menu-item">
              <a class="header-mobile-menu-link" href="#reviews"> Reviews </a>
            </li>
          </ul>
        </nav>
        <button type="button" class="header-menu-shop-btn">Shop now</button>
      </div>
    </div>
  </div>
</header>
