<section class="container how-it-works-container">
    <div class="image">
        <h2 class="visually-hidden">How it works</h2>
        <img class="hiw-img" srcset="./img/how-it-works/Woman-mob1x.png 1x, ./img/how-it-works/Woman-mob2x.png 2x" src="./img/how-it-works/Woman-mob.png" alt="Women cut the apple at the kitchen" width="335" height="450">
    </div>
    <div class="easy-steps-hiw">
        <h3 class="title-hiw">To order your <span class="span-hiw">vegetable</span> basket, simply follow these <span
                class="span-hiw">easy steps</span></h3>
        <p class="subtitle-hiw">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit
            without ever leaving your home.</p>
        <ol class="hiw-list">
            <li class="hiw-list-item">
                <div class="div-nmbr">
                    <span class="hiw-nmbr-span">1</span>
                </div>
                <p class="hiw-li-text">Just choose <span class="hiw-li-text-span">the vegetable</span> you want to order
                    by clicking on the checkboxes <span class="hiw-li-text-span">next to it</span>.</p>
            </li>
            <li class="hiw-list-item">
                <div class="div-nmbr">
                    <span class="hiw-nmbr-span">2</span>
                </div>
                <p class="hiw-li-text">Click on <span class="hiw-li-text-span">the basket</span> and fill out the form.
                </p>
            </li>
            <li class="hiw-list-item">
                <div class="div-nmbr">
                    <span class="hiw-nmbr-span">3</span>
                </div>
                <p class="hiw-li-text">Sit back and relax! Your <span class="hiw-li-text-span">fresh
                        vegetables</span>basket will be delivered.</p>
            </li>
        </ol>
    </div>
</section>