<section class="section-how-it-works">
    <div class="container-hiw">
    <h2 class="visually-hidden">How it works</h2>
    <div class="container-img-hiw">
        <div class="image">
        </div>
    </div>
    <div class="easy-steps-hiw">
        <p class="title-hiw">To order your <span class="span-hiw">vegetable</span> basket, simply follow these <span
                class="span-hiw">easy steps</span></p>
        <p class="subtitle-hiw">Our baskets are assembled with care and delivered straight to your doorstep, so you can
            enjoy the taste of fresh fruit
            without ever leaving your home.</p>
        <ol class="hiw-list">
            <li class="hiw-list-item">
                <p class="hiw-li-text">Just choose <span class="hiw-li-text-span">the vegetable</span> you want to order
                    by clicking on the checkboxes <span class="hiw-li-text-span">next to it</span>.</p>
            </li>
            <li class="hiw-list-item">
                <p class="hiw-li-text">Click on <span class="hiw-li-text-span">the basket</span> and fill out the form.
                </p>
            </li>
            <li class="hiw-list-item">
                <p class="hiw-li-text">Sit back and relax! Your <span class="hiw-li-text-span">fresh
                        vegetables</span> basket will be delivered.</p>
            </li>
        </ol>
    </div>
    </div>
</section>