<section id="works" class="how-it-works">
  <div class="container-how-it-works">
    <h2 class="visually-hidden">How It Works</h2>
    <div class="hiw-picture picture-container">
      <picture>
        <source
          media="(min-width: 1280px)"
          srcset="
            ./img/how-it-works/woman-dsp1x.png 1x,
            ./img/how-it-works/woman-dsp2x.png 2x
          "
        />
        <source
          media="(min-width: 768px)"
          srcset="
            ./img/how-it-works/woman-tab1x.png 1x,
            ./img/how-it-works/woman-tab2x.png 2x
          "
        />
        <source
          media="(max-width: 767px)"
          srcset="
            ./img/how-it-works/Woman-mob1x.png 1x,
            ./img/how-it-works/Woman-mob2x.png 2x
          "
        />

        <img
          class="hiw-image"
          src="./img/how-it-works/Woman-mob.png"
          alt="Woman at the kitchen cut the apple"
        />
      </picture>
    </div>
    <div class="hiw-easy-steps steps-container">
      <p class="title-hiw">
        To order your <span class="span-hiw">vegetable</span> basket, simply
        follow these <span class="span-hiw">easy steps</span>
      </p>
      <p class="subtitle-hiw">
        Our baskets are assembled with care and delivered straight to your
        doorstep, so you can enjoy the taste of fresh fruit without ever leaving
        your home.
      </p>
      <ol class="hiw-list">
        <li class="hiw-list-item">
          <p class="hiw-li-text">
            Just choose <span class="hiw-li-text-span">the vegetable</span> you
            want to order by clicking on the checkboxes
            <span class="hiw-li-text-span">next to it</span>.
          </p>
        </li>
        <li class="hiw-list-item">
          <p class="hiw-li-text">
            Click on <span class="hiw-li-text-span">the basket</span> and fill
            out the form.
          </p>
        </li>
        <li class="hiw-list-item">
          <p class="hiw-li-text">
            Sit back and relax! Your
            <span class="hiw-li-text-span">fresh vegetables</span> basket will
            be delivered.
          </p>
        </li>
      </ol>
    </div>
  </div>
</section>
