.header {
    padding: 20px 0;
    background-color: #576f35;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.header-logo-link {
    display: inline-flex;
    align-items: center;
    gap: 4px;
    text-transform: uppercase;
    font-size: 16px;
}

.header-icon-logo {
    fill: #FBFBFB;
}

.header-menu-open-btn {
    background-color: transparent;
    border: none;
}

.header-icon-open-menu {
    stroke: #FBFBFB;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-open-btn:hover,
.header-menu-open-btn:focus .header-icon-open-menu {
    stroke: #7a3145;
}
    
.backdrop {
    background-color: transparent;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.header-mobile-menu {
    background-color: #7a3145;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 240px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.header-menu-close-btn {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
}

.header-icon-close-menu {
    stroke: #FBFBFB;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-close-btn:hover, 
.header-menu-close-btn:focus .header-icon-close-menu {
    stroke: #141414;
}

.header-mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.header-mobile-menu-item {
    display: flex;
    justify-content: center;
}

.header-mobile-menu-link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(251, 251, 251, 0.4);
    background-color: transparent;
    border-radius: 12px;
    padding: 12px 16px;
    min-width: 115px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mobile-menu-link:hover,
.header-mobile-menu-link:focus {
    background-color: #FBFBFB;
    color: #7a3145;
}

.header-menu-shop-btn {
    border: none;
    border-radius: 30px;
    padding: 16px 41px;
    min-width: 155px;
    height: 50px;
    background-color: #FBFBFB;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: #7a3145;
    margin: 0 auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-menu-shop-btn:hover,
.header-menu-shop-btn:focus {
    background-color: #7a3145;
    color: #FBFBFB;
    border: 1px solid rgba(251, 251, 251, 0.2);
}

.header-desktop {
    display: none;
}

@media screen and (min-width:768px) {
    
    .header {
        padding: 32px 0px;
    }

    .header-logo-link {
        gap: 8px;
    }

    .header-icon-logo {
        width: 18px;
        height: 18px;
    }

    .header-icon-open-menu {
        width: 40px;
        height: 40px;
    }
    
    .backdrop {
        background-color: rgba(20, 20, 20, 0.4);
    }

    .header-mobile-menu {
        max-width: 351px;
        position: absolute;
        top: 0;
        left: 100%;
        transform: translateX(-100%) scale(1);
    }

    .header-menu-shop-btn {
        font-size: 18px;
        line-height: 1.11;
    }
}

@media screen and (min-width:1280px) {

    .header{
        background-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }


    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
    }

    .header-icon-open-menu {
        display: none;
    }

    .backdrop {
        display: none;
    }

    .header-desktop {
        display: flex;
        gap: 20px;
        align-items: center;
        flex-grow: 1;
    }

    .header-desktop-nav-list {
        display: flex;
        gap: 8px;
    }
    
    .header-desktop-nav-link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: 1px solid rgba(251, 251, 251, 0.4);
        background-color: transparent;
        border-radius: 12px;
        padding: 12px;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: -0.02em;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .header-desktop-nav-link:hover,
    .header-desktop-nav-link:focus {
        background-color: #FBFBFB;
        color: #7a3145;
    }
    
    .header-desktop-shop-btn {
        border: none;
        border-radius: 30px;
        padding: 16px 32px;
        min-width: 157px;
        height: 50px;
        background-color: #7a3145;
        font-weight: 600;
        font-size: 18px;
        line-height: 1.11;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        color: #FBFBFB;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
            color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
            
    .header-desktop-shop-btn:hover,
    .header-desktop-shop-btn:focus {
        background-color: #FBFBFB;
        color: #7a3145;
    }
}

