.section-how-it-works {
    max-width: 375px;
    margin: 0 auto;
    padding: 0;
}


.container-hiw{
    padding: 0;
    background: linear-gradient(to bottom, #7a3145 0 530px, #576f35 530px 1184px);
}


    
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-img-hiw{
    padding: 40px 0;
}

.image{
    max-width: 335px;
    height: 450px;
    background-image: url(../img/how-it-works/Woman-mob.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dpx){
    .image{
        background-image: url(../img/how-it-works/Woman-mob2x.png)
    }
}


.easy-steps-hiw {
    max-width: 375px;
    padding: 80px 20px;
}

.title-hiw {
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.span-hiw {
    color: rgba(251, 251, 251, 0.3);
}

.subtitle-hiw {
    font-weight: 500;
    font-size: 14px;
    line-height: 129%;
    margin-bottom: 40px;
}

.hiw-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 20px;
    counter-reset: number 0;
    margin: 0 auto;
}


.hiw-list-item {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    background-color: #fff;
    border-radius: 15px;
    counter-increment: number;
    max-width: 335px;
    height: 76px;
    display: flex;
    text-align: start;
    align-items: center;
    gap: 24px;
}

.hiw-list-item::before{
    content: counter(number);
    width: 42px;
    height: 42px;
    background-color: #7a3145;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -0.02em;
    border-radius: 50%;
    border: 5px solid #d3bec4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


.hiw-li-text {
    font-family: "Studio Pro", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
}

.hiw-li-text-span {
    font-weight: 700;
    color: rgba(20, 20, 20);
}

/*=====Tablet=====*/

@media screen and (min-width: 768px) {
    .section-how-it-works {
        max-width: 768px;
    }

    .container-hiw {
        background: linear-gradient(to bottom, #7a3145 0 840px,
        #576f35 840px 1539px);
    }

    .container-img-hiw {
        padding: 100px 0;
        }

    .image {
        max-width: 640px;
        height: 640px;
        background-image: url(../img/how-it-works/woman-tab.png);
        }

    .easy-steps-hiw {
        max-width: 768px;
        padding: 100px 159px;
    }

    .title-hiw {
    font-size: 32px;
    margin-bottom: 25px;
    }

    .subtitle-hiw {
        font-size: 16px;
        line-height: 125%;
        margin-bottom: 50px;
    }
    
    .hiw-list-item {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 24px;
        max-width: 450px;
}

    .hiw-li-text {
    font-size: 16px;
    line-height: 125%;
}
}

/*=====Desktop=====*/

@media screen and (min-width: 1280px) {
    .section-how-it-works {
        max-width: 1280px;
    }
    .container-hiw {
        padding: 0;
        display: flex;
        flex-direction: row;
        background: linear-gradient(to right, #7a3145 0 630px, #576f35 630px 1280px);
    }
    .container-img-hiw {
    padding: 100px;
}

.image {
    width: 430px;
    height: 559px;
    background-image: url(../img/how-it-works/woman-dsp.png);
}

.easy-steps-hiw {
    max-width: 650px;
    padding: 100px 100px 160px 100px;
}
.title-hiw {
    font-size: 32px;
    margin-bottom: 25px;
}

.subtitle-hiw {
    font-size: 16px;
    line-height: 125%;
    margin-bottom: 50px;
}
.hiw-list-item {
    max-width: 450px;
}

.hiw-li-text {
    font-size: 16px;
    line-height: 117%;
    letter-spacing: -0.02em;
    color: rgba(20, 20, 20, 0.6);
}

}