/*=====Reset styles=====*/

body {
  font-family: Inter Tight, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  font-style: normal;

  color: #fbfbfb;
  background-color: #7a3145;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  display: block;
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
  line-height: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=====Basic class=====*/

.container {
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
