.section {
}
.container {
}
.organic-veg-container {
}
.organic-veg-title {
  font-weight: 600;
  font-size: 48px;
  line-height: 104%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--main-text);
  color: rgba(251, 251, 251, 0.3);
  margin-bottom: 20px;
}
.organic-veg-par {
  margin-bottom: 40px;
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  color: var(--main-text);
}
.organic-veg-list-wrap {
}
.organic-veg-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.organic-veg-item {
}
.organic-veg-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.organic-veg-wrap h3,
.organic-veg-wrap p {
  margin: 0;
  padding-bottom: 32px;
  padding-left: 26px;
  padding-right: 26;
}
.organic-veg-wrap h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 100%;
  letter-spacing: -0.01em;
  color: #7a3145;
  padding-top: 32px;
}
.organic-veg-wrap p {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #141414;
}

.organic-veg-img {
  background: #fbfbfb;
  border-radius: 40px;
  display: block;
  margin: 0 auto;
}
.organic-veg-wrap {
  background: #fbfbfb;
  border-radius: 40px;
  padding: 32px;
}

/* Медіа-запит для планшетів */
@media screen and (min-width: 768px) {
  .organic-veg-list {
    row-gap: 20px;
    column-gap: 28px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .organic-veg-item {
    width: calc((100% - 42px) / 2);
  }
  .organic-veg-container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .organic-veg-title {
    margin-bottom: 50px;
  }
  .organic-veg-par {
    margin-bottom: 50px;
  }
}

/* Медіа-запит для десктопів */
@media screen and (min-width: 1280px) {
  .organic-veg-list {
    row-gap: 28px;
    column-gap: 21px;
  }
  .organic-veg-container {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }

  .organic-veg-item {
    width: calc((100% - 42px) / 3);
  }

  .organic-veg-par {
    max-width: 550px;
  }
}
